@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');

.pictureArea {
    width: 220px;
    /* background-color: pink; */
    position: relative;
}

.picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.stylePokemonName {
    /* background-color: salmon; */
    font-family: 'Gaegu', cursive;
}

.resizePokemonImage {
    height: 250px;
    width: auto;
}

.styleCuteImage {
    height: 44px;
    width: auto;
    margin-top: 5px;
    margin-right: 2px;
}

.setFontWeightBeforeTube {
    font-weight: 800;
}


/* .buttonInCard {
    color: #dc7777;
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
} */
