.App {
    /* background-color: sandybrown; */
    position: relative;
    height: 768px;
    width: 1024px;
}

.cardArea {
    /* background-color: tan; */
    height: 618px;
    width: 1024px;
    max-height: inherit;
    overflow-y: auto;
    
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.dotAtFooter {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #ec5656;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAtFooter {
  color: #ffffff;
  /* color: yellow; */
  font-size: 440%;
  cursor: pointer;
  
  /* position: relative;
  bottom: 77px;
  left: 26px; */
}
